/* CSS almost completely taken from T-M at www.moronic-works.co.uk with same adaptions and additions*/
tr:nth-child(odd)
{
	background: #EEE;
}
tr:nth-child(even)
{
	background: #DDD;
}
td
{
	max-width: 900px;
}

.log
{
	border-collapse: collapse;
	font-family: monospace;
	font-size: 14px;
}
.user
{
	font-weight: bold;
}
.message .user
{
	text-align: right;
	border-right: 1px solid #000;
	padding-right: 0.5em;
}
.spacer
{
	text-align: right;
	border-right: 1px solid #000;
	padding-right: 0.5em;
	color: #666;
}
.text
{
	word-wrap: break-word;
	padding-left: 0.5em;
}
.action .text
{
	font-style: italic;
}
.other .text
{
	color: #666;
}

/* IRC Colour Codes */
span.bold
{
	font-weight: bold;
}
span.bg0, span.bg00
{
	background-color: #FFFFFF
}
span.fg0, span.fg00
{
	color: #FFFFFF
}
span.bg1, span.bg01
{
	background-color: #000000
}
span.fg1, span.fg01
{
	color: #000000
}
span.bg2, span.bg02
{
	background-color: #00007F
}
span.fg2, span.fg02
{
	color: #00007F
}
span.bg3, span.bg03
{
	background-color: #009300
}
span.fg3, span.fg03
{
	color: #009300
}
span.bg4, span.bg04
{
	background-color: #FF0000
}
span.fg4, span.fg04
{
	color: #FF0000
}
span.bg5, span.bg05
{
	background-color: #7F0000
}
span.fg5, span.fg05
{
	color: #7F0000
}
span.bg6, span.bg06
{
	background-color: #9C009C
}
span.fg6, span.fg06
{
	color: #9C009C
}
span.bg7, span.bg07
{
	background-color: #FC7F00
}
span.fg7, span.fg07
{
	color: #FC7F00
}
span.bg8, span.bg08
{
	background-color: #FFFF00
}
span.fg8, span.fg08
{
	color: #FFFF00
}
span.bg9, span.bg09
{
	background-color: #00FC00
}
span.fg9, span.fg09
{
	color: #00FC00
}
span.bg10
{
	background-color: #009393
}
span.fg10
{
	color: #009393
}
span.bg11
{
	background-color: #00FFFF
}
span.fg11
{
	color: #00FFFF
}
span.bg12
{
	background-color: #0000FC
}
span.fg12
{
	color: #0000FC
}
span.bg13
{
	background-color: #FF00FF
}
span.fg13
{
	color: #FF00FF
}
span.bg14
{
	background-color: #7F7F7F
}
span.fg14
{
	color: #7F7F7F
}
span.bg15
{
	background-color: #D2D2D2
}
span.fg15
{
	color: #D2D2D2
}

/*
#eventToggle
{
	position: fixed;
	background-color: #ffffff;
	left:1100px;
}
*/
