#==============#
#=Bot Settings=#
#==============#

# -nickname-
# The nickname the bot will have in chat.
nickname: "PyHeufyBot"

# -username-
# The username the bot will log into the server with.
username: "PyHeufyBot"

# -realname-
# The bot's real name.
realname: "PyHeufyBot"

#=================#
#=Server Settings=#
#=================#

# -server-
# Address of the server the bot is connecting to.
server: "irc.foo.bar"

# -port-
# The port on the server the bot is connecting to.
port: 6667

# -channels-
# The channels the bot should join on connect. Leave this empty to not
# join any channels.
channels: []

# -useCapabilities-
# Enable this to make use of the client capability negotiation mechanism.
# All modules starting with "ircv3_" need this enabled to run.
# See http://ircv3.org/ for more information.
useCapabilities: False

# -logPath-
# The folder where the logs will be saved
logPath: "logs"

#=================#
#=Module Settings=#
#=================#

# -commandPrefix-
# The character that has to be used to trigger any modules of type ACTIVE.
commandPrefix: "!"

# -botAdmins-
# The users that are allowed to use modules with ADMINS access level.
botAdmins: []

# -modules-
# The modules that should be loaded on startup
modules: []
